.body {
  height: 100vh;
  /*Addition 050428 */
  /*background-color: #010E2D;*/
  /*background-color: #022924;*/
  /*background-color: #02201B;*/
  /*background-color: #011D19;*/
  /*background-color: #042828;*/
  /*background-color: #042428;*/
  background-color: #042028;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(109, 163, 173, 0.4)), to(rgba(64, 48, 38, 0.9))), url('../images/beach2jpg');
  background-image: linear-gradient(180deg, rgba(109, 163, 173, 0.4), rgba(64, 48, 38, 0.9)), url('../images/beach2jpg');*/
  background-size: auto, cover;
  font-family: 'Open Sans', sans-serif;
}

#mainimage {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 75%;
  max-width: 75%;
  min-width: 25%;
  min-height: 25%;
  transform: translate(-50%, -50%);  
}

/* .grid-container {
  display: grid;
} */

.container {
  display: grid;
  position: fixed;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 32% 32% 32%;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.thumb-title {
  font-size: medium;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 5px;
}

.thumb {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto
}

.grid-item {
  padding: 20px;
}

.footer {
  height: 4%;
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 479px) {
  
}
